@charset "utf-8";
@import url("Style Image Index.css");
@import url("../webfonts/pacifico/stylesheet.css");
@import url("../webfonts/pacifico/stylesheet.css");
@import url("../webfonts/pacifico/stylesheet.css");



/* CSS Document */
header {
	height: auto;
	background-color: #FFFFFF;
	padding: 20 px;
	color: #FFFFFF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 24px;
	text-align: center;
}
nav {
	background-color: #004366;
	color: #FFFFFF;
	height: auto;
}
main {
	height: auto;
	background-color: #7dc8cd;
}
footer {
	background-color: #004366;
	color: #FFC2AD;
	width: 100px;
}
footer h6 {
	width: 600px;
	margin: 0 auto;
	height: 50px;
	text-align: center;
}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header, nav, main, footer {
	margin: 0 auto;
	padding: 20px;
	width: 100%;
}
main section {
	width: 80%;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	padding: 30px;
	border-radius: 20px;
	color: #FFFFFF;
	height: auto;
}
nav ul  {
	align-content: center;
	color: #FFFFFF;
	display: inline-block;
	width: 100%;
	height: auto
}
nav ul li {
	list-style-type: none;
	width: auto;
	height: auto;
	margin: 10px;
	display: inline-block;
	background-color: #FFFFFF;
	padding: 20px;
	text-align: center;
}
h3 h4 h5 h6{
	font-family: lato;
}
h1 h2 {
	font-family: allerta;
	font-style: normal;
	font-weight: 400;
}
p {
	font-family: lato;
	color: #000000;
	
}
li {
	color: #000000;
	font-family: lato;
}
.h1negro {
	color: #000000;
	font-size: xx-large;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-style: normal;
	font-weight: normal;
}
.p_blanca {
	color: #FFFFFF;
	font-size: 18px;
}
.h2_negro {
	color: #000000;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 24px;
}
.texto_form {
	margin: auto;
	padding: auto;
	font-size: 100px;
	position: relative;
}
.ul_nav {
	text-align: right;

}
.ranking_negro {
	color: #000000;
}
.H3_edificios {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.h1_inicio {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #FDFDFD;
}
.ranking_blanco {
	color: #FFFFFF;
}
